body {
    background-color: orange;
    margin: 0px;
    overflow: hidden;
    text-align: center;
    font-family: 'Zen Loop';
    font-size: large;
}

#game-container {
    position: relative;
    height: 384px;
    width: 480px;
    margin: 0 auto;
    padding: 0;
}

canvas {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    border: 1px solid;

    transform: scale(1.5) translateY(30%);
    image-rendering: pixelated;
}